<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/navbar.css">
  <link rel="stylesheet" href="/styles/sections.css">
  <link rel="stylesheet" href="/styles/responsive.css">
  <link rel="stylesheet" href="/styles/services.css">
  <link rel="stylesheet" href="/styles/packages.css">
  <link rel="stylesheet" href="/styles/signup.css">
</head>
<body>
  {{> header }}

  {{{body}}}

  {{> footer }}

  <!-- Firebase SDKs -->
  <script src="https://www.gstatic.com/firebasejs/11.0.1/firebase-app-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/11.0.1/firebase-auth-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/11.0.1/firebase-firestore-compat.js"></script>

  <!-- Auto-injected config -->
  <script src="/__/firebase/init.js"></script>
  <script>
    console.log("Firebase object:", firebase);
  </script>

  <script src="/exec/login.js"></script>
  <script src="/exec/navbar.js"></script>
  <script src="/exec/main.js"></script>
  <script src="/exec/signup.js"></script>
</body>
</html>
