.preview-section {
  background-color: #2a2a2a;
  color: white;
}

.services-section {
  background-color: #f4f4f4;
  color: #1a1a1a;
}

.portfolio-section {
  background-color: #e0e0e0;
  color: #1a1a1a;
}

.about-section {
  background-color: #f4f4f4;
  color: #1a1a1a;
}

.contact-section {
  background-color: #e0e0e0;
  color: #1a1a1a;
}

.section {
  height: calc(95vh - 64px); /* Adjust for nav bar height */
  scroll-snap-align: start;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
