<header class="site-header">
  <div class="nav-container">
    <a href="/pages/index.html" class="logo">
    <img src="/assets/LogoDark.png" alt="Calamus Creative Solutions Logo" />
    </a>
    <nav class="nav-links">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </nav>

    <div class="hamburger" id="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>