.section {
  height: calc(95vh - 64px);
  scroll-snap-align: start;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.home-main {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  scrollbar-width: none; /* Firefox */
}

.home-main::-webkit-scrollbar {
  display: none;
}
